/* Main.css */
.main-container {
    max-width: 400px;
    margin: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
    text-align: center;
}

.main-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.menu-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.exchange-rate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between; 
}

/* 추가 스타일 조정이 필요하면 원하는대로 수정 가능합니다. */